In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

In [2]:
df = pd.read_csv('data/countypres_2000-2016.csv')
df = df.drop(columns=['office', 'version'])
df.head()
df.shape

(50524, 9)

In [3]:
df = df[df.party.notnull()]

In [4]:
df.shape

(34735, 9)

In [5]:
df = df[df.party != 'green']

In [6]:
df.shape

(31578, 9)

In [7]:
df.party.value_counts()

democrat      15789
republican    15789
Name: party, dtype: int64

In [8]:
df.head()

,year,state,state_po,county,FIPS,candidate,party,candidatevotes,totalvotes
0,2000,Alabama,AL,Autauga,1001.0,Al Gore,democrat,4942.0,17208
1,2000,Alabama,AL,Autauga,1001.0,George W. Bush,republican,11993.0,17208
4,2000,Alabama,AL,Baldwin,1003.0,Al Gore,democrat,13997.0,56480
5,2000,Alabama,AL,Baldwin,1003.0,George W. Bush,republican,40872.0,56480
8,2000,Alabama,AL,Barbour,1005.0,Al Gore,democrat,5188.0,10395

In [9]:
df.year.value_counts()

2012    6316
2008    6316
2004    6316
2016    6316
2000    6314
Name: year, dtype: int64

In [10]:
df.shape

(31578, 9)

In [11]:
len(df.FIPS.unique())

3155

In [12]:
print(df.isna().sum())
df = df.dropna()
print(df.shape)

year               0
state              0
state_po          40
county             0
FIPS              40
candidate          0
party              0
candidatevotes    34
totalvotes         0
dtype: int64
(31534, 9)

In [13]:
df.head()

,year,state,state_po,county,FIPS,candidate,party,candidatevotes,totalvotes
0,2000,Alabama,AL,Autauga,1001.0,Al Gore,democrat,4942.0,17208
1,2000,Alabama,AL,Autauga,1001.0,George W. Bush,republican,11993.0,17208
4,2000,Alabama,AL,Baldwin,1003.0,Al Gore,democrat,13997.0,56480
5,2000,Alabama,AL,Baldwin,1003.0,George W. Bush,republican,40872.0,56480
8,2000,Alabama,AL,Barbour,1005.0,Al Gore,democrat,5188.0,10395

In [14]:
df['vote_frac'] = df.candidatevotes/df.totalvotes

df.head()

,year,state,state_po,county,FIPS,candidate,party,candidatevotes,totalvotes,vote_frac
0,2000,Alabama,AL,Autauga,1001.0,Al Gore,democrat,4942.0,17208,0.287192
1,2000,Alabama,AL,Autauga,1001.0,George W. Bush,republican,11993.0,17208,0.696943
4,2000,Alabama,AL,Baldwin,1003.0,Al Gore,democrat,13997.0,56480,0.247822
5,2000,Alabama,AL,Baldwin,1003.0,George W. Bush,republican,40872.0,56480,0.723654
8,2000,Alabama,AL,Barbour,1005.0,Al Gore,democrat,5188.0,10395,0.499086

In [15]:
df = df.drop(columns=['candidatevotes', 'totalvotes'])
df.shape
df.head()

,year,state,state_po,county,FIPS,candidate,party,vote_frac
0,2000,Alabama,AL,Autauga,1001.0,Al Gore,democrat,0.287192
1,2000,Alabama,AL,Autauga,1001.0,George W. Bush,republican,0.696943
4,2000,Alabama,AL,Baldwin,1003.0,Al Gore,democrat,0.247822
5,2000,Alabama,AL,Baldwin,1003.0,George W. Bush,republican,0.723654
8,2000,Alabama,AL,Barbour,1005.0,Al Gore,democrat,0.499086

In [16]:
df.vote_frac.value_counts().head()

0.333333    3
0.300000    3
0.450000    3
0.600000    3
0.250000    3
Name: vote_frac, dtype: int64

In [17]:
df.describe()

               year          FIPS     vote_frac
count  31534.000000  31534.000000  31534.000000
mean    2008.000507  30305.486522      0.486550
std        5.656406  15211.490063      0.176465
min     2000.000000   1001.000000      0.031447
25%     2004.000000  18163.000000      0.354372
50%     2008.000000  29167.000000      0.486575
75%     2012.000000  45077.000000      0.619314
max     2016.000000  56045.000000      0.960334

In [18]:
df.dtypes

year           int64
state         object
state_po      object
county        object
FIPS         float64
candidate     object
party         object
vote_frac    float64
dtype: object

In [19]:
df.shape

(31534, 8)

In [20]:
df[df.year == 2016].shape

(6306, 8)

In [21]:
df = df[df.year == 2016]

In [22]:
df.head()
type(df)

pandas.core.frame.DataFrame

In [81]:
df.sort_values(['state','county','vote_frac'])
df['won'] = 0

In [82]:
df = df.reset_index(drop=True)
df.head()

,year,state,state_po,county,FIPS,candidate,party,vote_frac,won
0,2016,Alabama,AL,Autauga,1001.0,Hillary Clinton,democrat,0.237697,0
1,2016,Alabama,AL,Autauga,1001.0,Donald Trump,republican,0.727666,0
2,2016,Alabama,AL,Baldwin,1003.0,Hillary Clinton,democrat,0.193856,0
3,2016,Alabama,AL,Baldwin,1003.0,Donald Trump,republican,0.765457,0
4,2016,Alabama,AL,Barbour,1005.0,Hillary Clinton,democrat,0.465278,0

In [198]:
len(df)

6306

In [219]:
value = 1
df.won = np.where(df.index %2, value, df.won)
df.head()

,year,state,state_po,county,FIPS,candidate,party,vote_frac,won
0,2016,Alabama,AL,Autauga,1001.0,Hillary Clinton,democrat,0.237697,0
1,2016,Alabama,AL,Autauga,1001.0,Donald Trump,republican,0.727666,1
2,2016,Alabama,AL,Baldwin,1003.0,Hillary Clinton,democrat,0.193856,0
3,2016,Alabama,AL,Baldwin,1003.0,Donald Trump,republican,0.765457,1
4,2016,Alabama,AL,Barbour,1005.0,Hillary Clinton,democrat,0.465278,0

## To Do
1. Add to database table using sqlite3 
2. Get census data into db
3. Get contributions data into db
4. Join tables as needed
5. Set up algorithm